# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
ENV/

# Jupyter
.ipynb_checkpoints/

data/
data/processed/*
!data/processed/.gitkeep

# Models & artifacts
models/*
!models/.gitkeep

# Reports outputs
reports/figures/*
!reports/figures/.gitkeep

# Streamlit
.streamlit/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
